.header {
    background: #000;
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    /* CHANGE HERE */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.6s;
    z-index: 10
}

.display-header {
    transform: translateY(0) !important
}

.logo {
    width: 90px
}

.btn-assinar {
    padding: .7rem 1.2rem;
    margin-right: 125px;
    background: linear-gradient(to bottom, #2964d9, #143f87);
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #143f87;
    cursor: pointer;
}

.btn-assinar:hover {
    background: #0063e5;
}

.btn-entrar {
    position: fixed;
    top: 1.25rem;
    right: 3rem;
    padding: .7rem 1.2rem;
    background: rgba(0, 0, 0, .8);
    font-size: 1.1rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    border: 1px solid silver;
    cursor: pointer;
    z-index: 100;
    transition: all 0.7s
}

.btn-entrar:hover {
    background: #fff;
    color: #000;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1025px) {
    .logo {
        width: 80px
    }

    .btn-assinar, .btn-entrar {
        padding: .7rem 1rem;
        font-size: 0.9rem;
    }
}