/* DOWNLOAD SECTION */

.download-section {
    margin: 4rem;
    height: 100vh;
    background-image: url('../../images/dl-image.png');
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.download-section h2 {
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.download-section p {
    width: 100%;
    max-width: 530px;
    font-size: 1.15rem;
    color: #bebebe;
}