/* ACCESSIBILITY SECTION */

.accessibility-section {
    padding: 4.5rem 0rem;
    text-align: center;
}

.accessibility-section h2 {
    font-size: 2.4rem;
    margin-bottom: 30px
}

.accessibility-screens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.single-screen {
    padding: 12px;
}

.single-screen img {
    display: inline-block;
    width: 300px;
    height: 150px;
}

.single-screen h3 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 24px
}

.single-screen li {
    font-size: 18px;
    font-weight: 700;
    color: silver;
}