/* MAIN CONTAINER */

.main-container {
    width: 100%;
    height: 100vh;
    background-image: url('../../images/container-bg.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% 115%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-content {
    display: inline-block;
    padding: 0 2rem;
    margin: auto 0;
    text-align: center;
}

.main-content h1 {
    font-size: 1.5rem
}

.logo-container {
    width: 320px;
    margin: 30px 0;
}

.main-content button {
    width: 80%;
    padding: 1.4rem 6rem;
    background: #6421ff;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer
}

.links {
    margin-top: 20px
}

.links a {
    color: #fff;
    font-size: 1.02rem;
    font-weight: 400
}

.arrow-btn {
    margin: 1rem 6rem;
    font-size: 2rem;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    animation: goUp 2s infinite ease;
}

@keyframes goUp {
    10% {
        transform: translateY(0.4rem);
    }

    50% {
        transform: translateY(0rem);
    }

    75% {
        transform: translateY(0.2rem);
    }

    100% {
        transform: translateY(0rem);
   }
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1025px) {
    .main-container {
        padding-bottom: 100px;
        height: auto;
        background-image: url('../../images/container.jpg');
        background-position: center top;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        margin-top: 57%
    }
    
    .main-content h1 {
        font-size: 1.3rem
    }
    
    .logo-container {
        width: 220px;
    }
    
    .main-content button {
        width: 90%;
        padding: 1.4rem 0rem;
        font-size: 1rem;
    }
    
    .links a {
        font-size: 0.85rem;
    }

/*     .arrow-btn {
        transform: translateX(-50%);
        font-size: 3rem;
    } */
}