.header {
  background: #000;
  width: 100%;
  padding: 1rem 3rem;
  display: flex; /* CHANGE HERE */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.6s;
  z-index: 10
}

.display-header {
  transform: translateY(0) !important
}

.logo {
  width: 90px
}

.btn-assinar {
  padding: .7rem 1.2rem;
  margin-right: 125px;
  background: linear-gradient(to bottom,#2964d9,#143f87);
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #143f87;
  cursor: pointer;
}

.btn-assinar:hover {
  background: #0063e5;
}

.btn-entrar {
  position: fixed;
  top: 1.1rem;
  right: 3rem;
  padding: .7rem 1.2rem;
  background: rgba(0,0,0,.8);
  font-size: 1.1rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  border: 1px solid silver;
  cursor: pointer;
  z-index: 100;
  transition: all 0.7s
}

.btn-entrar:hover {
  background: #fff;
  color: #000;
}

/* MAIN CONTAINER */

.main-container {
  width: 100%;
  height: 100vh;
  background-image: url('./assets/images/container-bg.jpg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100% 115%;
  display: flex;
  align-items: center;
}

.main-content {
  display: inline-block;
  padding: 0 2rem;
  margin: auto 0;
  text-align: center;
}

.main-content h1 {
  font-size: 1.5rem
}

.logo-container {
  width: 320px;
  margin: 30px 0;
}

.main-content button {
  width: 80%;
  padding: 1.4rem 6rem;
  background: #6421ff;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer
}

.links {
  margin-top: 20px
}

.links a {
  color: #fff;
  font-size: 1.02rem;
  font-weight: 400
}

.arrow-btn {
  position: absolute;
  bottom: 4rem;
  left: 6rem;
  font-size: 2rem;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  animation: goUp 2s infinite ease;
}

@keyframes goUp {
  10% {
    bottom: 4.4rem;
  }

  50% {
    bottom: 4rem;
  }

  75% {
    bottom: 4.2rem
  }

  100% {
    bottom: 4rem;
  }
}

/* PLANOS */

.planos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
}

.planos-section h1 {
  font-size: 2.7rem;
  margin-bottom: 2.3rem;
}

.planos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.single-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.2rem;
  margin: 0 2rem;
  width: 100%;
  max-width: 350px;
  background: rgb(3,12,63);
  background: linear-gradient(180deg, rgba(3,12,63,1) 46%, rgba(4,7,20,1) 72%);
  border: 3px solid #00c6f4;
}

.title-plan {
  font-size: 1.1rem;
  font-weight: 400;
  color: #bdbdbe;
  margin-bottom: 30px
}

.price-plan {
  font-size: 1.5rem;
  color: #f9f9f9
}

.info-plan {
  text-align: center;
  font-size: 1.1rem;
  color: #bdbdbe;
  max-width: 270px
}

.plan-btn {
  padding: 1rem 2.3rem;
  margin-top: 27px;
  background: #006ef5;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #eef3f9;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 105px 20px 120px rgba(4,7,20,0.99);
  z-index: 1
}

.planos-section span {
  font-size: 0.8rem;
  color: #afb0b1;
  margin-top: 30px;
  z-index: 2
}

/* INFO */

.info-section {
  padding: 4.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.info-text h2 {
  font-size: 2.4rem;
  margin-bottom: 30px
}

.info-text p {
  width: 100%;
  max-width: 600px;
  font-size: 1.4rem;
  color: #bebebe
}

.info-section img {
  width: 45%;
}

/* MOVIES SECTION */

.movie-section {
  padding: 4.5rem 3.2rem;
  text-align: center;
}

.movie-section h2 {
  font-size: 2.4rem;
  margin-bottom: 30px
}

.movie-section p {
  font-size: 1.4rem;
  color: #bebebe;
  margin-bottom: 30px
}

.movie-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 1.3rem
}

.movie-list li {
  justify-self: center;
  width: 100%
}

.movie-list li img {
  width: 100%;
}

/* DOWNLOAD SECTION */

.download-section {
  margin: 4rem;
  height: 100vh;
  background-image: url('./assets/images/dl-image.png');
  background-size: 100% ;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.download-section h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.download-section p {
  width: 100%;
  max-width: 530px;
  font-size: 1.15rem;
  color: #bebebe;
}

/* ACCESSIBILITY SECTION */

.accessibility-section {
  padding: 4.5rem 0rem;
  text-align: center;
}

.accessibility-section h2 {
  font-size: 2.4rem;
  margin-bottom: 30px
}

.accessibility-screens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.single-screen {
  padding: 12px;
}

.single-screen img {
  display: inline-block;
  width: 300px;
  height: 150px;
}

.single-screen h3 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 24px
}

.single-screen li {
  font-size: 18px;
  font-weight: 700;
  color: silver;
}